@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

*,
*::before,
::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	max-width: 1440px;
	min-height: 100%;
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
	margin: 0 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.logo:hover,
.logo:focus {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.5;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list__link:hover,
.list__link:focus {
	color: #000000;
}

.list__link:active {
	opacity: 0.5;
}

.header {
	margin: 0;
	padding: 20px 0;
	background-color: #ebebeb;
}

.header__container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.header__logo {
	width: 149px;
	margin: 0 0 10px 0;
	padding: 0;
}

.main-nav {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0 40px;
}

.main-nav__list {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main-nav__link {
	display: inline-block;
	margin: 0;
	padding: 10px;
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #4a4a4a;
	text-transform: uppercase;
	cursor: pointer;
	word-break: break-all;
}

.main-nav__button {
	position: absolute;
	top: -35px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 2;
	background-color: transparent;
}

.main-nav__closed .main-nav__button::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 2px;
	background-color: #000000;
	box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; 
}

.main-nav__opened .main-nav__button::before,
.main-nav__opened .main-nav__button::after {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #000000;
	box-shadow: none;
}

.main-nav__opened .main-nav__button::before {
	transform: rotate(45deg);
}

.main-nav__opened .main-nav__button::after {
	transform: rotate(-45deg);
}

.main-nav--no-js .main-nav__button {
	display: none;
}

.form {
	position: relative;
	margin: 0;
	padding: 0;
}

.form__input {
	width: 100%;
	margin: 0;
	padding: 5px 30px 5px 5px;
	border: 1px solid #cfcfcf;
}

.form__input:hover,
.form__input:focus {
	border: 1px solid #000000;
	outline: none;
}

.form__input::placeholder {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.form__input:hover::placeholder,
.form__input:focus::placeholder {
	color: #a7a7a7;
}

.form__icon-search {
	position: absolute;
	top: 6px;
	right: 15px;
	width: 17px;
	height: 17px;
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.458 12.044L17 15.586L15.586 17L12.044 13.458C10.782 14.421 9.21 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15.0001 9.14309 14.4581 10.7403 13.458 12.044ZM7.5 2C4.467 2 2 4.467 2 7.5C2.00331 10.5362 4.4638 12.9967 7.5 13C10.532 13 13 10.532 13 7.5C13 4.467 10.532 2 7.5 2Z' fill='grey'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.form__icon-search:hover,
.form__icon-search:focus {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.458 12.044L17 15.586L15.586 17L12.044 13.458C10.782 14.421 9.21 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15.0001 9.14309 14.4581 10.7403 13.458 12.044ZM7.5 2C4.467 2 2 4.467 2 7.5C2.00331 10.5362 4.4638 12.9967 7.5 13C10.532 13 13 10.532 13 7.5C13 4.467 10.532 2 7.5 2Z' fill='black'/%3E%3C/svg%3E%0A");	
	outline: none;
}

.form__input:hover + .form__icon-search,
.form__input:focus + .form__icon-search {
	background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.458 12.044L17 15.586L15.586 17L12.044 13.458C10.782 14.421 9.21 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15.0001 9.14309 14.4581 10.7403 13.458 12.044ZM7.5 2C4.467 2 2 4.467 2 7.5C2.00331 10.5362 4.4638 12.9967 7.5 13C10.532 13 13 10.532 13 7.5C13 4.467 10.532 2 7.5 2Z' fill='black'/%3E%3C/svg%3E%0A");
}

.main {
	margin-bottom: 40px;
}

.article {
	padding: 20px 0;
}

.article__section {
	margin: 0 0 30px;
}

.article__section:last-child {
	margin-bottom: 0;
}

.article__title {
	margin: 0 0 30px 0;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
}

.article__subtitle {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 24px;
	line-height: 26px;
}

.article__paragraph {
	margin: 0 0 10px 0;
	padding: 0;
}

.article__paragraph:last-child {
	margin-bottom: 0;
}

.article-optionally__section {
	margin: 0 0 40px 0;
	padding: 0;
}

.article-optionally__img-link {
	display: flex;
	margin: 0 0 10px 0;
}

.article-optionally__img {
	width: 100%;
}

.article-optionally__img:hover {
	box-shadow: 0px 4px 20px #a7a7a7;
}

.article-optionally__info {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
	padding: 0;
}

.article-optionally__topic {
	margin: 0;
	padding: 0;
	font-weight: 500;
	color: #25008f;
	text-transform: uppercase;
}

.article-optionally__topic:hover,
.article-optionally__topic:focus {
	color: #2516f5;
}

.article-optionally__topic:active {
	opacity: 0.5;
}

.article-optionally__date {
	color: #0f0920;
}

.article-optionally__subtitle-news {
	margin: 0;
	padding: 0;
}

.article-optionally__subtitle-link {
	width: 280px;
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color: #0f0920;
}

.article-optionally__subtitle-link:hover,
.article-optionally__subtitle-link:focus {
	color: #0f0999;
}

.article-optionally__subtitle-link:active {
	opacity: 0.5;
}

.article-optionally__item {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #e7e6e9;
}

.article-optionally__item:last-child {
	margin: 0;
	border: 0;
}

.footer {
	margin: 0;
	padding: 30px 0 30px 0;
	background-color: #fdfcff;
	border-top: 1px solid rgba(15, 9, 32, 0.1);
}

.footer__logo {
	display: block;
	width: 149px;
	margin: 0 auto 20px auto;
}

.footer__inner {
	margin: 0 auto;
	max-width: 540px;
}

.footer__nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
}

.footer-nav__item {
	display: flex;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.footer-nav__item:last-child {
	margin-right: 0;
}

.footer-nav__item:nth-child(1) {
	order: 0;
}

.footer-nav__item:nth-child(2) {
	order: 1;
}

.footer-nav__item:nth-child(3) {
	order: 3;
}

.footer-nav__item:nth-child(4) {
	order: 2;
}

.footer-nav__item:nth-child(5) {
	order: 4;
}

.footer-nav__item:nth-child(6) {
	order: 5;
}

.footer-nav__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #0f0920;
	word-break: break-all;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.social__item {
	cursor: pointer;
}

.social__link {
	display: block;
}

.social__img:hover,
.social__img:focus {
	opacity: 0.8;
}

.social__img:active {
	opacity: 0.5;
}

.footer__scroll-up {
	position: fixed;
	display: none;
	/*bottom: 140px;*/
	bottom: 40px;
	right: 10px;
	/*right: 40px;*/
	width: 30px;
	height: 30px;
	/*width: 52px;
	height: 52px;*/
	box-shadow: 0 2px 6px rgba(44, 44, 44, 0.2);
	border-radius: 30px;
	background-color: #f4f4f4;
	opacity: 0;
}

.footer__scroll-up::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 12px;
	height: 6px;
	/*width: 16px;
	height: 8px;*/
	background-image: url("../img/arrow-up.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.footer__scroll-up-showed {
	display: block;
	animation: 0.3s linear btn-showing forwards;
}

@keyframes btn-showing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 619px) {
	.main-nav__closed .main-nav__item {
		display: none;
	}

	.article-optionally {
		max-width: 579px;
	}

	.article-optionally__list {
		max-width: 579px;
		margin: 0 auto;
	}
}

@media (min-width: 620px) {
	.container {
		margin: 0 30px;
	}

	.header__container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}

	.header__logo {
		order: 0;
		margin-right: auto;
		margin-bottom: 0;
	}

	.main-nav {
		order: 2;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.main-nav__button {
		display: none;
	}

	.main-nav__list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.main-nav__link {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 14px;
		line-height: 18px;
	}

	.form {
		order: 1;	
		width: 60%;
		max-width: 600px;
	}

	.article-optionally__inner,
	.article-optionally__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		column-gap: 20px;
	}

	.article-optionally__item:last-child {
		margin-bottom: 15px;
		border-bottom: 1px solid rgba(15, 9, 32, 0.1);
	}

	.footer__nav-list {
		padding: 0;
	}

	.footer-nav__link {
		font-size: 16px;
		line-height: 20px;
	}

	.footer__scroll-up {
		bottom: 15px;
		right: 40px;
		width: 52px;
		height: 52px;
	}

	.footer__scroll-up::before {
		width: 16px;
		height: 8px;
	}
}

@media (min-width: 1200px) {
	.container {
		margin: 0 110px;
	}

	.main {
		margin-bottom: 80px;
	}

	.footer__inner {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
	}

	.footer__logo {
		margin: 0 40px 0 0;
	}

	.footer__nav-list {
		margin: 0 auto 0 0;
	}

	.footer-nav__item {
		margin-right: 25px;
	}

	.footer-nav__item:nth-child(3) {
		order: 2;
	}

	.footer-nav__item:nth-child(4) {
		order: 3;
	}

	.social-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100px;
	}

	.article-optionally__wrapper {
		display: grid;
		grid-template-columns: minmax(590px, 730px) minmax(280px, 350px);
		align-items: start;
		column-gap: 30px;
	}

	.article-optionally__inner {
		grid-template-columns: repeat(2, minmax(280px, 350px));
		column-gap: 30px;
	}

	.article-optionally__section {
		margin-bottom: 0;
	}

	.article-optionally__list {
		grid-template-columns: minmax(280px, 350px);
	}

	.article-optionally__item {
		margin-bottom: 20px;
		padding-bottom: 11px;
	}

	.article-optionally__item:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border: 0;
	}

@media (min-width: 1440px) {
	.container {
		margin: 0 165px;
	}

	.header {
		background-color: transparent;
	}
}